Django==3.2.6 #https://pypi.org/project/Django/
django-environ==0.4.5 #https://pypi.org/project/django-environ/
uptime==3.0.1 #https://pypi.org/project/uptime/
wiringpi==2.60.1 #https://pypi.org/project/wiringpi/
RPi.GPIO==0.7.0 #https://pypi.org/project/RPi.GPIO/
RPi.GPIO2==0.3.0a3 #https://pypi.org/project/RPi.GPIO2/