{% extends 'base.html' %}
{% block main %}
		<div class="row-fluid" id="qmenus">
			<h1 class="custom_title" id="header">{{title}}
			<div style="padding-top:1%">
			  <a href="?a=pop" class="btn btn-inverse btn-large" id="topButton">Лучшие</a>
			  <a href="?a=new" class="btn btn-inverse btn-large" id="newButton">Новые</a>
			</div></h1>
		</div>
				{% for q in questions %}
				<div class="question row-fluid">
					<div class="span2" align="middle" style="margin-left:3px">
						<img class="question_img img-rounded" src="/uploads/{{q.author.profile.image}}">
						<span>{{q.author}}</span>
						<div class="vote_bar" >
							   <span>
  								<button class="btn btn-mini btn-inverse  vote_down" type="button"><i class="icon-minus icon-white"></i></button>
								<nobr>{{q.rating}}</nobr>
								<button class="btn btn-mini btn-inverse  vote_up" type="button"><i class="icon-plus icon-white"></i></button>
							   </span> 
						</div>
					</div>
					<div class="span9">
						<h5 class="question_title"><a href="/question?q={{q.id}}">{{q.title}}</a></h5>
						<p class="ordinary_text q_text">{{q.text}}</p>					
						<span class="qtags">
						   Tags: 
						   {% for t in q.tag_set.all %}
						   <a href="?a=tag&tag={{t}}">{{t}}</a>
						   {% endfor %}
						</span>
						<span class="qdate">{{q.created}}</span>
					</div>
				</div>
				{% endfor %}
	<div class="pagination" id="pager">
  		<ul  align="left">
			{% if questions.has_previous%}
				<li><a href="?a={{a}}{% if tag %}&tag={{tag}}{% endif %}&page={{ questions.previous_page_number }}">-</a></li>
			{% endif%}
				<li class="disabled"><a>{{ questions.number }}</a></li>

			{% if questions.has_next %}
		            <li><a href="?a={{a}}{% if tag %}&tag={{tag}}{% endif %}&page={{ questions.next_page_number }}">+</a><li>
		        {% endif %}
 		</ul>
	</div>
{% endblock %}
