{% extends "base.html" %}
{%  block main %}
<h1 class="custom_title" align="middle" id="header">Регистрация</h1>
<div>
<form class="form-horizontal" method="post" action="/signup" enctype="multipart/form-data">
   {% csrf_token %}

   {% for f in form.visible_fields %}
  <div class="control-group {% if f.errors %}error{% endif %}">
    <label class="control-label" for="id_{{f.name}}">{{f.label}}</label>
    <div class="controls">
	{{f}}
    </div>
  </div>	
   {% endfor %}

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" id="register_button" value="Sign up">Регистрация</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
